@model Movie.WebUI.Models.MovieModel 
@{
    ViewData["Title"] = "CreateMovie";
}

@section Scripts
{ 
    <script src="\modules\jquery-validation\dist\jquery.validate.min.js"></script>
    <script src="\modules\jquery-validation-unobtrusive\dist\jquery.validate.unobtrusive.min.js"></script>
}
<h1>CreateMovie</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateMovie" method="post">
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input asp-for="Name" value="@Model.Name" class="form-control" />

                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <input asp-for="Description" value="@Model.Description" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input asp-for="ImageUrl" value="@Model.ImageUrl" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <button style="margin-left:35%" type="submit" class="btn btn-primary">Save Movie</button>
                </div>
            </div>
        </form>
    </div>
</div>
