@model Movie.Entity.Movie

<div class="card mb-3">
    <div class="row no-gutter">
        <div class="col-md-3">
            <img src="~/img/@Model.ImageUrl" alt="@Model.Name" class="card-img"/>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description
                </p>
                <p>
                    <small class="text-muted">3 day ago</small>
                </p>

            </div>
        </div>
    </div>
</div>